@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap');

*{
  font-family: "REM", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

.navbar{
 padding: 15px 10px;
 width: 100%;
 background-color: #eb5b4e;
 box-shadow: 0 4px 10px rgba(0,0,0,0.1);
 position: sticky; /* Torna fixa no topo */
 top: 0;
 z-index: 10;
 flex-direction: row;
 display: flex;
 border-bottom-left-radius: 25px;
 border-bottom-right-radius: 25px;
}


.menu{
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: space-between;

}

.menu a{ 
 color: white;
 text-decoration: none;
 padding: 3px 8px;
}

.menu h3{
  font-size: 25px;
 color: white;
 align-content: center;
}

link{
  color: black;
}
.centro {
  border-radius: 30px;
  box-shadow: 10px;
  display: flex; 
  flex-direction: column;
  align-items: center; 
  width: 300px;
  padding: 20px 40px;
  border: 2px solid #eb5b4e82; 
   box-shadow: 10px 10px #c02e014d;
}

.centro h2 {
  margin-bottom: 15px; /* Adiciona um espaço abaixo do título */
}

.centro label {
  margin-bottom: 5px; /* Adiciona um pequeno espaço abaixo do label */
  width: 100%; /* Garante que o label ocupe a largura do container para alinhamento */
  text-align: left; /* Alinha o texto do label à esquerda */
}

.centro input{
  width: 100%; /* Faz o input ocupar a largura do container */
  padding: 10px;
  margin-bottom: 10px; /* Adiciona espaço abaixo do input */
  border: 1px solid #eb5b4e82;
  border-radius: 4px;
  box-sizing: border-box; /* Garante que padding e border não aumentem a largura total */
}
.centro button{
  padding: 10px;
}

.main {
  display: flex; /* Ativa o Flexbox para centralizar o conteúdo */
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  min-height: 50vh; /* Garante que ocupe pelo menos a altura total da tela */
   /* Cor de fundo opcional para o main */
}

.logo-nav{
  margin: 0px 12px;
  margin-top: 5px;
  display: flex;
  width: 50px;
  height: 42px;
}

.item-menu{
  font-size: 20px;
  align-content: center;
}

/* Estilos básicos para os links da navbar */
.nav-link {
  text-decoration: none;
  border-radius: 100px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.nav-link:hover {
  background-color: #d64929;
}

/* ESTILOS PARA QUANDO O LINK ESTÁ ATIVO (SELECIONADO) */

.nav-link.active {
  background-color: #de6952; /* Uma cor de fundo mais escura, por exemplo */
  color: yellow; /* Uma cor de texto diferente */
  /* Outros estilos: */
  /* border-bottom: 2px solid yellow; */
  /* font-weight: bolder; */
}