nav {
  background-color: #1F1F38;
  color: #FFFFFF;
  padding: 10px;
}

nav ul {
  display: flex;
  gap: 20px;
  list-style: none;
}

nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}

nav ul li a:hover {
  color: #00FFFF;
}